In [4]:
import pandas as pd
import numpy as np

# Life expectancy at birth, male (years)

In [8]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,64.084,64.429,64.747,65.053,65.356,65.660,...,72.377,72.516,72.654,72.791,72.929,73.068,73.208,73.348,73.488,NaN
1,Afghanistan,AFG,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,31.580,32.026,32.466,32.903,33.338,33.771,...,59.589,60.054,60.484,60.892,61.286,61.670,62.046,62.412,62.764,NaN
2,Angola,AGO,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,31.787,32.098,32.428,32.774,33.136,33.511,...,54.581,55.506,56.321,57.016,57.592,58.056,58.423,58.717,58.972,NaN
3,Albania,ALB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,61.309,62.272,63.117,63.811,64.346,64.723,...,73.950,74.404,74.867,75.299,75.671,75.974,76.209,76.389,76.543,NaN
4,Andorra,AND,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# Life expectancy at birth.csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# Literacy rate, adult female (% of females ages 15 and above).csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# Literacy rate, youth female (% of females ages 15-24).csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# Net migration.csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# PersistenceToLastGradeOfPrimary_Female.csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')

# PersistenceToLastGradeOfPrimary_Male.csv

In [ ]:
# The path to our CSV file
file = "Life expectancy at birth, male (years).csv"

# Read our data into pandas
expectancyM_df = pd.read_csv(file, encoding = 'unicode_escape')
expectancyM_df.head()

In [ ]:
# Identify incomplete rows
expectancyM_df.count()

In [ ]:
# Replace NaN with '0'
IMR_df.replace(np.nan, 0, inplace=True)

In [ ]:
# Import to csv
#IMR_df.to_csv(r'InfantMortalityRate.csv')