In [1]:
# Dependencie
import pandas as pd

In [2]:
# Load in file
corruption_file = "corruption_data.csv"

In [6]:
# Read and display the CSV with Pandas
corruption_file_df = pd.read_csv(corruption_file)
# corruption_file_df.set_index("Jurisdiction", inplace = True)

corruption_file_df.head()

,Unnamed: 0,Country,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,0,Afghanistan,-,-,-,-,-,-,-,2.5,-,1.8,1.5,1.3,1.4,1.52,8,8,12,11
1,1,Albania,-,2.3,-,-,2.5,2.5,2.5,2.4,2.6,2.9,3.4,3.2,3.3,3.05,33,31,33,36
2,2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,3,Angola,-,-,1.7,-,1.7,1.8,2,2,2.2,2.2,1.9,1.9,1.9,2.01,22,23,19,15
4,4,Argentina,3,3,3.5,3.5,2.8,2.5,2.5,2.8,2.9,2.9,2.9,2.9,2.9,3,35,34,34,32

In [4]:
corruption_file_df["Jurisdiction"] = corruption_file_df["Jurisdiction"].replace({ 
    "Bosnia and Herzgegovina":"Bosnia and Herzegovina", 
    "Bosnia & Herzegovina": "Bosnia and Herzegovina", 
    "Congo Democratic Republic":"Democratic Republic of the Congo", 
    "Congo. Democratic Republic":"Democratic Republic of the Congo",
    "Democratic Republic of Congo":"Democratic Republic of the Congo",
    "Congo Brazzaville":"Republic of the Congo",
    "Congo-Brazzaville":"Republic of the Congo",
    "Congo Republic":"Republic of the Congo",
    "Congo  Republic":"Republic of the Congo",
    "Congo. Republic":"Republic of the Congo",
    "Congo Republic of":"Republic of the Congo",
    "Congo. Republic of":"Republic of the Congo",
    "Congo Republic of the":"Republic of the Congo",
    "CÃ´te dÂ´Ivoire":"CÃ´te d'Ivoire",  
    "CÃ´te-d'Ivoire": "CÃ´te d'Ivoire",
    "Cote dÂ´Ivoire":"CÃ´te d'Ivoire", 
    "Cote d'Ivoire":"CÃ´te d'Ivoire",
    "Ivory Coast":"CÃ´te d'Ivoire",
    "Dominican Rep": "Dominican Republic",
    "Dominican Rep.": "Dominican Republic",
    "Kuweit": "Kuwait",
    "Macedonia (Former Yugoslav Republic of)":"Macedonia",
    "Sao Tome & Principe": "Sao Tome and Principe",
    "Serbia & Montenegro": "Serbia and Montenegro",
    "Trinidad & Tobago": "Trinidad and Tobago",
    "Viet am": "Vietnam"
})
corruption_file_df.head()

In [7]:
corruption_df["Jurisdiction"].value_counts()

Iraq                                1
Netherlands                         1
Philippines                         1
Suriname                            1
Egypt                               1
Ukraine                             1
Macedonia                           1
Bahamas                             1
Zambia                              1
Angola                              1
Maldives                            1
Tajikistan                          1
Somalia                             1
Laos                                1
Rwanda                              1
Oman                                1
Niger                               1
Ecuador                             1
Singapore                           1
India                               1
Nicaragua                           1
Uganda                              1
Paraguay                            1
Croatia                             1
Hong Kong                           1
South Korea                         1
Latvia                              1
Peru                                1
Vanuatu                             1
Portugal                            1
                                   ..
Democratic Republic of the Congo    1
Barbados                            1
Costa Rica                          1
Germany                             1
Armenia                             1
South Africa                        1
Cambodia                            1
Gambia                              1
Bulgaria                            1
Algeria                             1
Taiwan                              1
Belgium                             1
New Zealand                         1
Iran                                1
Dominica                            1
Kuwait                              1
Montenegro                          1
Sao Tome and Principe               1
Estonia                             1
Pakistan                            1
North Korea                         1
United Kingdom                      1
Bhutan                              1
South Sudan                         1
Argentina                           1
Namibia                             1
Czech Republic                      1
Norway                              1
Kyrgyzstan                          1
Denmark                             1
Name: Country, Length: 190, dtype: int64

In [8]:
corruption_file_df = corruption_file_df.rename(columns = {"Jurisdiction":"Country"})
corruption_file_df.head()

NameError: name 'corruption_file_df' is not defined

In [ ]:
corruption_file_df.to_csv("Output_data/corruption_Version_one.csv")
corruption_file_df.head()