In [17]:
# Dependencie
import pandas as pd

In [18]:
# Load in file
electricity_file = "AccessToElectricity.csv"

In [19]:
# Read and display the CSV with Pandas
electricity_file_pd = pd.read_csv(electricity_file)
electricity_file_pd.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,92.838821,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,37.500000,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [20]:
electricity_file_pd.columns

Index(['Country_Name', 'Country_Code', 'Indicator_Name', 'Indicator_Code',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')